In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\LAPTOP\Pictures\Music Recommeder System\spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.shape

(57650, 4)

In [5]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [6]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [7]:
df.tail(5)

,artist,song,text
4995,Blur,Mr Briggs,Mr Briggs is on holiday \r\nBut he stays in h...
4996,Quicksilver Messenger Service,Song For Frisco,"How long can this go on, are you still actin' ..."
4997,Within Temptation,Hand Of Sorrow,The child without a name grew up to be the han...
4998,Morrissey,Slum Mums,Six filthy children \r\nFrom six absent fathe...
4999,Heart,What He Don't Know,He don't know that you been coming around \r\...

In [8]:
df.shape

(5000, 3)

In [9]:
df['text'][4999]

"He don't know that you been coming around  \r\nHe don't know that we been out of bounds  \r\nThings we do are better left unsaid  \r\nYou and me can never keep our heads  \r\nWhat he don't know  \r\nWill never hurt him  \r\nWhat he don't know  \r\nIs I have changed  \r\nIt's just a matter of time  \r\nTill it all comes down down down  \r\nTill he hears  \r\nThe stories going round round round  \r\nWhat he don't know  \r\nWhat he don't know  \r\n  \r\nBaby, I'm open to your every suggestion  \r\nNothing you ask is out of the question  \r\nThings I wouldn't do ya got me doin'  \r\nAnd oh, what I wouldn't do for you  \r\n  \r\nWhat he don't know  \r\nWill never hurt him  \r\nWhat he don't know  \r\nIs I have changed  \r\nIt's just a matter of time  \r\nTill it all comes down down down  \r\nTill he hears  \r\nThe stories going round round round  \r\nWhat he don't know  \r\nWhat he don't know  \r\n  \r\nWhat he don't know  \r\nWhat he don't know  \r\nWhat he don't know  \r\nWhat he don't know\r\n\r\n"

In [10]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [12]:
#!pip install nltk

In [14]:
import nltk
from nltk.stem import PorterStemmer
#nltk.download('punkt_tab')

In [15]:
stemmer = PorterStemmer()

In [16]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [17]:
token("you are beautiful ,beauty ,beautifully")

'you are beauti , beauti , beauti'

In [18]:
df['text'] = df['text'].apply(lambda x: token(x))

In [27]:
#pip install scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similer = cosine_similarity(matrix)

In [29]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])),reverse=True,key=lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        songs.append(df.iloc[m_id[0]].song)      
    return song

In [37]:
import pickle
pickle.dump(similer,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))